<div class="container p-3">
  <h1>Movies & Fun - Find Related Movies!</h1>
  <div class="row align-items-center mt-5">
    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
      <div class="col">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Type the movie/show of your interest"
            aria-label="Search"
            aria-describedby="search-addon"
            [ngbTypeahead]="search"
            [resultTemplate]="rt"
    	      [inputFormatter]="formatter"
            [(ngModel)]="searchEntry"
            name="search"
            autocomplete="off"
            style="width: 350px;"
          />
          <button type="submit" class="btn btn-outline-primary">
            Search Movie
          </button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <div class="row align-items-center">
    <div class="col">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Netflix</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked">HBO</label>
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Series</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Movies</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Action</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Romance</label
        >
      </div>
    </div>
  </div>
  <br />
  <div class="row align-items-center">
    <div class="col" *ngIf="submitted">
      <p class="h3">Results: </p>
      <app-spinner *ngIf="loading"></app-spinner>
      <ul class="list-group" *ngIf="!loading && relatedMovies.length >= 1">
        <a
          [routerLink]="['/' + movie.type, movie.ids.slug]"
          style="text-decoration: none"
          *ngFor="let movie of relatedMovies"
        >
          <li class="list-group-item" aria-current="true">
            {{ movie.title }}
          </li>
        </a>
      </ul>
      <p *ngIf="!loading && relatedMovies.length === 0">No Results</p>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
  <span *ngIf="r.year"> ({{ r.year }})</span>
  <span
    class="badge badge-pill badge-primary ml-2"
    [ngStyle]="{'background-color': r.type === 'movie' ? 'var(--gray)' : 'var(--info)' }">{{ r.type }}
  </span>
</ng-template>
