<div class="container my-5">
  <div class="row justify-content-center" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
  <div class="row" *ngIf="!loading && !!movie">
    <div class="col-md-5">
      <div class="project-info-box mt-0">
        <h5>MOVIE DETAILS</h5>
        <p class="mb-0">{{ movie.overview }}</p>
      </div>
      <!-- / project-info-box -->

      <div class="project-info-box">
        <p><b>Title:</b> {{ movie.title }}</p>
        <p><b>Year:</b> {{ movie.year }}</p>
        <p><b>Rating:</b> {{ movie.rating }}</p>
        <p><b>Genres:</b> {{ movie.genres }}</p>
        <p><b>Status:</b> {{ movie.status }}</p>
        <p><b>Homepage:</b> {{ movie.homepage }}</p>
        <p><b>Network:</b> {{ movie.network }}</p>
        <p><b>Trailer:</b> {{ movie.trailer }}</p>
      </div>
      <!-- / project-info-box -->
      <div class="project-info-box mt-3">
        <p><b>Runtime:</b> {{ movie.runtime }} minutes</p>
        <p><b>Certification:</b> {{ movie.certification }}</p>
        <p><b>Country:</b> {{ movie.country }}</p>
        <p><b>First aired:</b> {{ movie.first_aired }}</p>
        <p><b>Votes:</b> {{ movie.votes }}</p>
        <p><b>Comment Count:</b> {{ movie.comment_count }}</p>
        <p><b>Updated at:</b> {{ movie.updated_at.toDateString() }}</p>
        <p><b>Language:</b> {{ movie.language }}</p>
        <p><b>Available translations:</b> {{ movie.available_translations }}</p>
      </div>
      <!-- / project-info-box -->
    </div>
    <!-- / column -->

    <div class="col-md-7">
      <div class="row">
        <img
          [src]="'https://image.tmdb.org/t/p/original' + movie.imageUrl"
          alt="project-image"
          class="rounded"
        />
      </div>
      <div class="row flex-column mt-2">
        <h2>We recommend:</h2>
        <div class="list-group">
          <a *ngFor="let movie of relatedMovies" [routerLink]="['/' + type, movie.ids.slug]" class="list-group-item list-group-item-action">
            {{ movie.title }}
            <span *ngIf="movie.year"> ({{ movie.year }})</span>
            <span
              class="badge badge-pill badge-primary ml-2"
              [ngStyle]="{'background-color': type === 'movie' ? 'var(--gray)' : 'var(--info)' }">{{ type }}
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- / column -->
  </div>
</div>
